{% extends 'base.html' %}

{% block title %}{{product.name}} - Pettit Gateau {% endblock %}

{% block extra_css %}
<style>

    .sku-selector { margin: 20px 0; }
    .btn-sku { 
        padding: 10px 20px; margin-right: 10px; cursor: pointer; 
        border: 1px solid #ccc; background: white; border-radius: 4px;
    }

    .btn-sku.active { 
        border-color: black; background: #f9f9f9; font-weight: bold; 
    }
    .btn-buy {
        padding: 15px 30px; background: black; color: white; border: none; cursor: pointer;
    }

    .quantity-box {margin-bottom: 20px;}
    .quantity-box input {padding: 10px; width: 60px; text-align: center; font-size: 16px;}
</style>
{% endblock extra_css %}

{% block content %}
<h1> {{product.name}} </h1>
<h4> {{product.brand}}</h4>

<p> {{product.get_fragrance_display}} -  {{product.category}}</p>

<div class="sku-selector">
    <p>Escolha o tamanho:</p>
    
    {% for sku in skus %}
        <button 
            class="btn-sku {% if sku.id == default_sku.id %}active{% endif %}" 
            data-price="{{ sku.price }}" 
            data-id="{{ sku.id }}">
            {{ sku.volume_ml }}ml
        </button>
    {% endfor %}
</div>

<h2 id="price-display">R$ {{ default_sku.price }}</h2>

{% csrf_token %}
<input type="hidden" id="selected-sku-id" name="sku_id" value="{{ default_sku.id }}">
    
<div class="quantity-box">
    <label for="quantity">Quantidade:</label><br>
    <input type="number" id="quantity" value="1" min="1">
</div>

<button type="button" class="btn-buy" id="add-to-cart-btn" onclick="addToCart()">
    Adicionar ao Carrinho
</button>
{% endblock content %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {

        const priceDisplay = document.getElementById('price-display');
        const hiddenSkuInput = document.getElementById('selected-sku-id');
        const skuButtons = document.querySelectorAll('.btn-sku');

        skuButtons.forEach(button => {
            button.addEventListener('click', function() {
                
                const newPrice = this.getAttribute('data-price');
                const newId = this.getAttribute('data-id');

                priceDisplay.innerText = `R$ ${newPrice}`;
                
                hiddenSkuInput.value = newId;

                skuButtons.forEach(btn => btn.classList.remove('active'));
                
                this.classList.add('active');
            });
        });
    });

    async function addToCart() {
        const SkuId = document.getElementById('selected-sku-id').value;
        const quantity = document.getElementById('quantity').value;

        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        const btn = document.getElementById('add-to-cart-btn');
        btn.innerText = "Adicionando...";
        btn.disabled = true;

        try {

            const response = await fetch('/carrinho/api/my-cart/', {
                method: 'POST',
                headers: {
                    'content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    sku_id: SkuId,
                    quantity: parseInt(quantity)
                })
            });
            
            if (response.ok) {
                window.location.href = '/carrinho/';
            } else {
                const data = await response.json();
                alert("Erro: "+ data.error);
                btn.innerText = "Adicionar ao Carrinho";
                btn.disabled = false;
            }
        } catch (error) {
            console.error("Erro na API:", error);
            alert("Ocorreu um erro de conexão.");
            btn.innerText = "Adicionar ao Carrinho";
            btn.disabled = false;
        }
    }
</script>
{% endblock scripts %}